body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#img1 {
  width: 100%;
  max-width: 600px;
}

#img2 {
  width: 100%;
  max-width: 600px;
  padding-top: 30px;
}
